{{ define "main" }}

<div class="container wrapper list">


	{{ if isset .Data "Term" }}
	<h2>{{ .Data.Term }}</h2>
	{{ else }}
	<h2 class="page-title">{{ .Name }}</h2>
	{{ end }}

	{{ .Content }}
	<section id="featured" class="grid">
		<ul class="posts">

			{{- range .Data.Pages -}}
			{{- if (in (.Site.Params.excludedTypes | default (slice "page")) .Type) -}}
			{{- else -}}
			<li>
				<div class="card">
					<div class="card-content">
						<div class="post">
							<div class="post-header">
								<div class="featured-img">
									<a href="{{ .RelPermalink }}">
										{{ if .Params.featuredImage }}
										<img id="thumb" src="{{ .Params.featuredImage | relURL }}" alt="{{ .Title }}">
										{{ else }}
										<img id="thumb"
											src="{{ .Site.BaseURL }}images/{{ .Site.Params.featuredDefault }}"
											alt="{{ .Site.Title }}">
										{{ end }}
									</a>
								</div>
								<div class="matter">
									<h3 class="card-title">
										<a href="{{ .RelPermalink }}">{{.Title}}{{ if .Draft }}<sup
												class="draft-label">DRAFT</sup>{{ end }}</a>
									</h3>
									<span class="description">
										{{ if isset .Params "description" }}
										{{ .Description }}
										{{ else if gt (countrunes .RawContent) 120 }}
										{{ slicestr .RawContent 0 120 }}...
										{{ else }}
										{{ .RawContent }}
										{{ end }}
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
			{{- end -}}
			{{- end -}}
		</ul>
	</section>
</div>

{{ end }}