@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Love+Ya+Like+A+Sister&display=swap');


/*

how to use

font-family: 'Fredericka the Great', cursive;
font-family: 'Love Ya Like A Sister', cursive;

font-style: normal;
font-weight: 200;

*/

