.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;
}

.posts-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;
    list-style: none;
  }

.posts-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

   .posts-group ul li {
    list-style-type: none;
  }

.posts .post-title {
      font-size: 1.3rem;
      margin: 5px 0 5px 0;
    }

.post-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
    }

    .post-item {
      border-bottom: 1px grey dashed;
    }

    .posts .post-item a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 12px 0;
      text-decoration: none;
    }

    .post-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  
    .post-header {
     /* display: flex; */
    }


/* Post list date */
.meta .date {
  margin-right: 30px;
  width: 70px;
  text-align: center;
}
.meta .date .day {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 0.45em;
  font-size: 3em;
  display: block;
  margin-bottom: 15px;
}
.meta .date .rest {
  display: block;
  font-size: 0.75em;
}
.post-header h1.title {
  margin: -10px 0 0 0;
}


/* PAGINATION UNDER LIST POST */

.pagination {
  margin-top: 20px;

  &__title {
    display: flex;
    text-align: center;
    position: relative;
    margin: 20px 0;

    &-h {
      text-align: center;
      margin: 0 auto;
      padding: 5px 10px;
      background: $light-background;
      color: $light-color-secondary;
      font-size: 0.8rem;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.1em;
      z-index: 1;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

   .pagination hr {
      border: 1px solid rgb(187, 163, 130, 0.3);
      left: 0;
      right: 0;
      width: 50%;
      margin-top: 15px;
    }

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #2b2b2b;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  max-width: 40%;
  padding: 10px;
  cursor: pointer;
  appearance: none;


  + .button {
    margin-left: 10px;
  }

  a {
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &.next .button__icon {
    margin-left: 8px;
  }

  &.previous .button__icon {
    margin-right: 8px;
  }
}


