/* Core Styles */
:root{
  --primary: #c4c4c4;
  --secondary: #17181f;
}

html {
  box-sizing: border-box;
  line-height: 1.6;
  letter-spacing: 0.06em;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Love Ya Like A Sister', cursive;
  background: rgb(28, 30, 32);
  color: var(--primary);
  font-size: 1.3em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
  font-family: 'Fredericka the Great', cursive;
  color: rgb(187, 163, 130);
}

h1 {
  font-size: 3.6em;
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
  display: inline-block;
  background: rgb(31, 31, 31);
  color: rgb(202, 202, 202);
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}

/* code-block styling */
code, kbd, pre, samp {
  font-size: 0.8em;
    text-align: left;
    color: rgba(172, 237, 240, 0.8);
    background-color: rgb(17, 29, 29);
    padding: 10px;
}

/* FX-Styling */

.circle {
    border-radius: 50%;
    max-width: 25%;
    margin: auto;
  }

/* Bg- image koko sivustolle */

.bg {
  background: url('assets/images/dungeon.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* featured */

#featured {
  min-height: 450px;
  color: var(--primary);
  text-align: center;
}

#featured .content-wrap {
  padding: 0 1.5em;
}

/* Section List of post pages */

#section-list-pages {
  padding-bottom: 2em;
}

/* Section featured */

#featured {
  padding: 2em 1em 1em;
}

#featured ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#featured li, .card {
  background: rgb(11, 14, 15);
}

.card-content {
  padding: 1.5em;
  text-align: center;
}

/* Footer */

footer {
  padding: 2em;
  color: rgb(187, 163, 130, 0.7);
  text-align: center;
  margin-top: 1em;
}

footer a {
  color: #2690d4;
  text-decoration: none;
}

/* Media Queries */

@media (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 20em)) 1fr;
  }

   footer.grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .content-wrap,
  #featured ul {
    grid-column: 2/4;
  }

  #featured ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
  }

}

.background-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

figure {

}

figcaption {
    font-size: 1rem;
    margin-top: 0.6em;
    opacity: 0.6;
  }

.post-cover {
    border-radius: 8px;
    margin: 40px 0px 0px -40px;
    width: 110%;
  }

.left {
    text-align: left;
  }

.center {
    text-align: center;
  }

 .right {
    text-align: right;
  }