.navbar-logo .logo {
  font-size: 2rem;
  color: rgb(20, 111, 214);
}

.navbar ul {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(19, 19, 19);
  color: #f1f1f1;
}

.navbar li {
  list-style: none;
  padding: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #b4b4b4;
}

.navbar-logo {
  flex: 0.7;
  font-size: 1.5rem;
  user-select: none;
}

.navbar-logo:hover a {
  color: rgb(64, 212, 212);
}

.navbar-toggle {
  display: none;
}

.navbar-links:hover {
  background-color: rgb(64, 212, 212);
}

.navbar-links:hover a {
  color: rgb(20, 20, 20);
}

@media (max-width:600px) {
  .navbar ul {
    flex-wrap: wrap;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
  }
  .active {
    display: block;
  }

}