<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {{ partial "head.html" . }}
</head>


{{ block "body" . }}

<body class="{{ if .Site.Params.backgroundImageContent }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImageContent | relURL }}');" {{ else }}"{{ end }}>
    {{ end }}


    <div class="container">
        {{ partial "header.html" . }}

        <div class="content">
            {{ block "main" . }}{{ end }}
        </div>
    </div>
    {{ block "footer" . }}
    {{ partial "footer.html" . }}
    {{ end }}
    </div>

    {{ partial "javascript.html" . }}
</body>

</html>