{{ define "main" }}
{{ $paginator := .Paginate .Data.Pages }}

<section id="section-list-pages" class="grid">

  <div class="content-wrap">

    <main class="posts">

      <h1>{{ .Title }}</h1>

      {{ if .Content }}
      <div class="content">{{ .Content }}</div>
      {{ end }}

      {{ range $paginator.Pages.GroupByDate "2006" }}
      <div class="posts-group">
        <div class="post-year">{{ .Key }}</div>

        <ul class="posts-list">
          {{ range .Pages }}
          <li class="post-item">
            <div>
              <a href="{{.Permalink}}">
                {{ if .Params.Cover }}
                <figure class="post-cover">
                  <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />
                  {{ if .Params.CoverCaption }}
                  <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
                  {{ end }}
                </figure>
                {{ end }}
              </a>
            </div>
            <a href="{{.Permalink}}">
              <span class="post-title">{{.Title}}</span>
              <div class="meta">
                <div class="date">
                  <span class="day"> {{ if .Site.Params.dateformShort }}
                    {{ .Date.Format .Site.Params.dateformShort }}
                    {{ else }}
                    {{ .Date.Format "Jan 2006" .Date}}
                    {{ end }}</span>
                  <span class="rest">{{ if .Site.Params.dateform }}{{ .Date.Format .Site.Params.dateform }}{{ else }}
                    {{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
                </div>
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      {{ partial "pagination.html" . }}
    </main>
  </div>
</section>
{{ end }}