{{ define "main" }}

<section id="section-list-pages" class="grid">
    <div class="content-wrap">

        <h1>{{ .Title }}</h1>

        {{ if .Params.Cover }}
        <figure class="post-cover">
            <img src="{{ .Params.Cover | absURL }}" alt="{{ .Title }}" />

            {{ if .Params.CoverCaption }}
            <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
            {{ end }}
        </figure>
        {{ end }}

        {{ .Content }}

    </div>
</section>

<div class="post-info">
    {{ partial "tags.html" . }}
    {{ partial "categories.html" . }}


    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-calendar">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
        </svg>
        {{ if .Site.Params.dateformNumTime }}
        {{ dateFormat .Site.Params.dateformNumTime .Date.Local }}
        {{ else }}
        {{ dateFormat "2006-01-02 15:04" .Date.Local }}
        {{ end }}

        {{ if .Lastmod }}
        {{ if not (eq .Lastmod .Date )}}
        {{ if .Site.Params.dateformNumTime }}
        ({{ i18n "lastModified" }}: {{ dateFormat .Site.Params.dateformNumTime .Lastmod.Local }})
        {{ else }}
        ({{ i18n "lastModified" }}: {{ dateFormat "2006-01-02 15:04" .Lastmod.Local }})
        {{ end }}
        {{ end }}
        {{ end }}
    </p>

    {{- if .GitInfo }}
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-git-commit">
            <circle cx="12" cy="12" r="4"></circle>
            <line x1="1.05" y1="12" x2="7" y2="12"></line>
            <line x1="17.01" y1="12" x2="22.96" y2="12"></line>
        </svg>

        <a href="{{ .Site.Params.gitUrl -}}{{ .GitInfo.Hash }}" target="_blank" rel="noopener">
            {{ .GitInfo.AbbreviatedHash }}</a>
        @ {{ if .Site.Params.dateformNum }}{{ dateFormat .Site.Params.dateformNum .GitInfo.AuthorDate.Local }}
        {{ else }}
        {{ dateFormat "2006-01-02" .GitInfo.AuthorDate.Local }}{{ end }}
    </p>
    {{- end }}
</div>

<div class="pagination">
    <div class="pagination__title">
        <span class="pagination__title-h">{{ .Site.Params.ReadOtherPosts }}</span>
        <hr />
    </div>

    <div class="pagination__buttons">
        {{ if .NextInSection }}
        <span class="button previous">
            <a href="{{ .NextInSection.Permalink }}">
                <span class="button__icon">←</span>
                <span class="button__text">{{ .NextInSection.Title }}</span>
            </a>
        </span>
        {{ end }}

        {{ if .PrevInSection }}
        <span class="button next">
            <a href="{{ .PrevInSection.Permalink }}">
                <span class="button__text">{{ .PrevInSection.Title }}</span>
                <span class="button__icon">→</span>
            </a>
        </span>
        {{ end }}
    </div>
</div>

{{ end }}