<nav class="navbar">
  <ul>
    <li class="navbar-logo"><a class="logo" href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a></li>
    <li class="navbar-toggle"><i class="fas fa-bars"></i></li>
    {{ range.Site.Menus.main }}
    <li class="navbar-links">
      <a href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}

  </ul>
</nav>