{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}

    {{ define "main" }}
    <section id="section-a" class="grid">
        <div class="content-wrap">

            <div>
                <h1>Page Not Found</h1>

                <p>This page doesn't exist.</p>

                <p><a href="/">Go back to the home page</a></p>

                <h1>{{ .Site.Title }}</h1>
                {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
                {{- end }}

            </div>


        </div>
    </section>

    {{ end }}