{{ define "body" }}

<body class="{{ if .Site.Params.backgroundImage }} background-image"
    style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
    {{ end }}

    {{ define "main" }}
    <section id="section-list-pages" class="grid">
        <div class="content-wrap">

            <div>
                {{ if .Site.Params.Portrait.Path }}
                <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}"
                    style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
                {{ end }}

                <h1>{{ .Site.Title }}</h1>
                {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
                {{- end }}

            </div>


        </div>
    </section>

    {{ end }}